# Deployer wallet private key (without 0x prefix)
DEPLOYER_PRIVATE_KEY=25c6d5820a58bae63d6ffd370c886ece090a6ec36f86740071e44355d96baffb

# WorldLand Mainnet RPC
RPC_URL=https://seoul.worldland.foundation/
